<nav class="breadcrumbs" aria-label="breadcrumb">
  @for (item of items(); track item.label; let isLast = $last) {
    @if (item.link && !isLast) {
      <a [routerLink]="item.link">
        @if (item.icon) {
          <i class="fa-solid {{ item.icon }}"></i>
        }
        <span class="breadcrumb-label">{{ item.label }}</span>
      </a>
    } @else {
      <span class="breadcrumb-current">
        @if (item.icon) {
          <i class="fa-solid {{ item.icon }}"></i>
        }
        {{ item.label }}
      </span>
    }
    @if (!isLast) {
      <i class="fa-solid fa-chevron-right breadcrumb-separator"></i>
    }
  }
</nav>
